#tictactoe-container {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: center;
}

#tictactoe-grid {
  display: flex;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
}

#tictactoe-header span {
  font-weight: bold;
  font-size: 1.5em;
}

#tictactoe-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

#tictactoe-curentplayer {
  position: relative;
  width: 40px;
  height: 40px;
}

.tictactoe-cell {
  width: 100px;
  height: 100px;
  position: relative;
}

.tictactoe-cell-winner path,
.tictactoe-cell-winner circle {
  stroke: yellow !important;
}

.tictactoe-svg-cell {
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 60%;
  width: 60%;
  stroke-linecap: round;
}

.tictactoe-svg-grid {
  position: absolute;
}

.tictactoe-svg-grid line {
  stroke: white;
  stroke-width: 5;
  stroke-linecap: round;
  animation: clock-animation 0.2s linear forwards;
}

circle {
  fill: transparent;
  stroke: lightgreen;
  stroke-width: 10px;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: clock-animation 0.25s linear forwards;
}

@keyframes clock-animation {
  100% {
    stroke-dashoffset: 0;
  }
}

.tictactoe-cross path {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: clock-animation 0.25s linear forwards;
  stroke-width: 10px;
  stroke: lightskyblue;
}

#tictactoe-playerselection {
  display: flex;
}

.tictactoe-button-playerselection {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 15px;
}
